/* Colors */

:root {
	--c-fg: #000;
	--c-bg: #fff;
	--c-dim-fg: #888;
	--c-dim-bg: #eee;
	--c-form-bd: #ddd;
	--c-form-bg: #fbfbfb;

	--l-bg: 90%;
	--l-fg: 10%;
	--l-dim: 40%;

	/* OK (Green) */
	--hs-ok: 135 75%;
	--l-ok: 30%;

	/* Danger (Red) */
	--hs-danger: 355 55%;
	--l-danger: 49%;

	/* Info (Blue) */
	--hs-info: 208 61%;
	--l-info: 50%;
	--c-info: hsl(var(--hs-info) var(--l-info));

	/* Warn (Yellow) */
	--hs-warn: 36 98%;
	--l-warn: 50%;

	/* Utils */
	--cb-hs: 89 3%;
	--cb-l: 32%;
	--cbc: hsl(var(--cb-hs) var(--cb-l));
	--cbc-hover: --cb-c: hsl(var(--cb-hs) calc(var(--cb-l) + 10%));
	--cbc-active: --cb-c: hsl(var(--cb-hs) calc(var(--cb-l) - 10%));
}

@media (prefers-color-scheme: dark) {
	:root {
		--c-fg: #eee;
		--c-bg: #000;
		--c-dim-fg: #999;
		--c-dim-bg: #222;
		--c-form-bd: #222;
		--c-form-bg: #111;

		--l-bg: 10%;
		--l-fg: 90%;
		--l-dim: 70%;
		--cb-l: 78%;
	}
}

/* Core styles */

:root {
	--ff: 'Pretendard JP', system-ui, Inter, Helvetica, sans-serif;
	line-height: 1.1;
	color-scheme: light dark;
}

* {
	box-sizing: border-box;
}

:root,
html,
body,
input,
select,
textarea,
button {
	font-family: var(--ff);
	font-size: 16px;
}

html,
body {
	margin: 0;
	color: var(--c-fg);
	background-color: var(--c-bg);
	min-height: 100svh;
}

a {
	text-decoration: underline;
	color: hsl(var(--hs-info) var(--l-info));
}

/* Forms */

input,
textarea,
select {
	display: block;
	width: 100%;
	padding: 0.5em 0.75em;
	margin: 0.5rem 0;
	background: var(--c-form-bg);
	border: 1px solid var(--c-form-bd);
	border-radius: 0.375rem;

	&:focus {
		outline: 2px solid hsl(var(--hs-info) var(--l-info));
	}
}

textarea {
	resize: vertical;
}

/* Layouts */
main {
	margin: 0 auto;
	width: 100%; /* 기본은 풀 보디 */
}

@media (max-width: 639px) {
	main {
		padding: 0 1rem;
	}
}

@media (min-width: 640px) {
	main {
		max-width: 640px;
	}
}

@media (min-width: 768px) {
	main {
		max-width: 768px;
	}
}

@media (min-width: 1024px) {
	main {
		max-width: 1024px;
	}
}

pre {
	padding: 0.5rem;
	background-color: #8882;
	border-radius: 0.375em;
}

hr {
	border-color: var(--c-form-bd);
	margin: 1rem 0;
}

/* Core helpers */

.hidden,
[hidden] {
	display: none;
}

.inset-0 {
	inset: 0;
}

.w-full {
	width: 100%;
}

.h-full {
	height: 100%;
}

/* Size */

.text-md {
	font-size: 1rem;
}
.text-sm {
	font-size: 0.875rem;
}
.text-xs {
	font-size: 0.75rem;
}
.text-xxs {
	font-size: 0.625rem;
}
.text-lg {
	font-size: 1.125rem;
}
.text-xl {
	font-size: 1.25rem;
}
.text-xxl {
	font-size: 1.5rem;
}

/* Buttons */

button,
input[type='submit'],
input[type='file']::file-selector-button,
.btn,
.badge {
	--cb-c: hsl(var(--cb-hs) var(--cb-l));
	--cb-fg: var(--c-bg);
	--cb-bg: var(--cb-c);
	--cb-bd: var(--cb-c);

	border: 1px solid var(--cb-bd);
	background-color: var(--cb-bg);
	color: var(--cb-fg);

	display: inline-flex;
	justify-content: center;
	align-items: center;
	gap: 0.25em;

	transition-property: border-color, background-color;
	transition-duration: 0.1s;

	cursor: pointer;
	user-select: none;
	-webkit-user-drag: none;

	text-decoration: none;

	&:hover {
		--cb-c: hsl(var(--cb-hs) calc(var(--cb-l) + 10%));
	}

	&:active {
		--cb-c: hsl(var(--cb-hs) calc(var(--cb-l) - 10%));
	}

	&:focus {
		outline: 2px solid hsl(var(--cb-hs) var(--cb-l));
	}

	&:disabled {
		--cb-c: hsl(var(--cb-hs) calc(var(--cb-l) + 30%));
	}
}

button,
input[type='submit'],
.btn {
	border-radius: 0.375em;
	padding: 0.5em 0.75em;
}

input[type='file']::file-selector-button {
	border-radius: 0.375em;
	padding: 0.25em 0.75em;
}

.badge {
	border-radius: 999rem;
	padding: 0.5em 0.75em;
}

/* Color utils */

.text-fg {
	color: var(--c-fg);
}

.text-bg {
	color: var(--c-bg);
}

.text-dim {
	color: var(--c-dim);
}

.text-ok {
	color: hsl(var(--hs-ok) var(--l-ok));
}

.text-danger {
	color: hsl(var(--hs-danger) var(--l-danger));
}

.text-info {
	color: hsl(var(--hs-info) var(--l-info));
}

.text-warn {
	color: hsl(var(--hs-warn) var(--l-warn));
}

.danger {
	--cb-hs: var(--hs-danger);
	--cb-l: var(--l-danger);
	--cb-fg: #fff;
}

.ok {
	--cb-hs: var(--hs-ok);
	--cb-l: var(--l-ok);
	--cb-fg: #fff;
}

.info {
	--cb-hs: var(--hs-info);
	--cb-l: var(--l-info);
	--cb-fg: #fff;
}

.warn {
	--cb-hs: var(--hs-warn);
	--cb-l: var(--l-warn);
	--cb-fg: #000;
}

.outline {
	--cb-bg: none;
	--cb-fg: var(--cb-c);
}

.ghost {
	--cb-bg: none;
	--cb-bd: none;
	--cb-fg: var(--cb-c);
}

/* Check */

input[type='checkbox'] {
	-webkit-appearance: none;
	appearance: none;

	padding: 0;
	width: 1.25em;
	height: 1.25em;
	border: 1.5px solid var(--c-form-bd);
	border-radius: 0.25em;
	outline: none;
	cursor: pointer;
	display: inline-grid;
	place-content: center;
	vertical-align: middle;
}

/* 체크됐을 때 배경색 변경 */
input[type='checkbox']:checked {
	background-color: var(--c-info);
	border-color: var(--c-info);
}

/* 가상 요소로 체크 표시 구현 */
input[type='checkbox']:checked::before {
	content: '';
	width: 0.8em;
	height: 0.8em;
	box-shadow: inset 1rem 1rem #fff;
	background-color: CanvasText;
	clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

select {
	appearance: none;
	-webkit-appearance: none;
	cursor: pointer;

	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='%23888'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M19 9l-7 7-7-7'/%3E%3C/svg%3E");
	background-repeat: no-repeat;
	background-position: right 0.5em center;
	background-size: 1em;
	padding-right: 2em;

	& > option {
		background-color: var(--c-bg);
		color: var(--c-fg);
	}
}

input[type='color'] {
	padding: 0.125rem 0.25rem;
	height: 2.25em;
}

/* Spinner */

.spinner {
	width: 1.5em;
	height: 1.5em;
	border: 3px solid currentColor;
	border-bottom-color: transparent;
	border-radius: 50%;
	display: inline-block;
	vertical-align: middle;
	animation: spin 0.5s linear infinite;
	box-sizing: border-box;
}

@keyframes spin {
	to {
		transform: rotate(360deg);
	}
}
