/* This is for embed into HTML file, to prevent flickering */

:root {
	--c-fg: #000;
	--c-bg: #fff;
}

@media (prefers-color-scheme: dark) {
	:root {
		--c-fg: #eee;
		--c-bg: #000;
	}
}

html,
body,
input,
button,
textarea,
select {
	color: var(--c-fg);
	background-color: var(--c-bg);
}
