input,
textarea {
	width: 100%;
	padding: 0.33em 0.75em;
	background: none;
	border: 1px solid var(--c-form-bd);
	border-radius: 0.25rem;

	&:focus {
		outline: 2px solid hsla(var(--h-info) var(--s-info) var(--l-info) / 50%);
	}
}
